.slideritem {
    height: max-content;
    overflow: "hidden";
    position: absolute;
    top: 13%;
    min-width: 100%;
}

.text-slider-bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0% 12%;
}

.w-31 {
    width: 31%;
    display: flex;
    height:300px;
    flex-direction: column;
    justify-content: center;
}

.know{
    text-align: center;
    top: 27%;
    color: gold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-line: underline;
}